@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@font-face {
  font-family: "Chillax-Extralight";
  src: url("./assets/fonts/Chillax-Extralight.woff2") format("woff2");
}
@font-face {
  font-family: "Chillax-Light";
  src: url("./assets/fonts/Chillax-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Chillax-Regular";
  src: url("./assets/fonts/Chillax-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Chillax-Medium";
  src: url("./assets/fonts/Chillax-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Chillax-Semibold";
  src: url("./assets/fonts/Chillax-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "Chillax-Bold";
  src: url("./assets/fonts/Chillax-Bold.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Gilroy, Arial, Helvetica, sans-serif;
}

body {
  background-color: #121212;
  color: white;
}

main {
  width: 100%;
  padding: 1rem;
}
main .hero {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "hero-top" "hero-bottom";
  gap: 0.75rem;
}
main .hero .hero-top {
  width: 100%;
  grid-area: hero-top;
}
main .hero .hero-top img {
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 0.75rem;
}
main .hero .hero-bottom {
  width: 100%;
  padding: 1.75rem;
  grid-area: hero-bottom;
  background-color: #1e1e1e;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main .hero .hero-bottom .label {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
  color: #f4f2ed;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 160%;
}
main .hero .hero-bottom .hero-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .hero .hero-bottom h1 {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #f4f2ed;
  font-family: "Chillax-Regular", "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
}
main .hero .hero-bottom p {
  color: rgba(244, 242, 237, 0.6);
  font-size: 1.25rem;
  line-height: 2rem;
  width: 90%;
}
main .hero .hero-bottom .btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
main .hero .hero-bottom .btn svg {
  color: white;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-color: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  padding: 1rem;
}
main .hero .hero-bottom button {
  display: inline-block;
  background-color: transparent;
  border: none;
  align-self: flex-start;
  width: auto;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
}
main .info {
  width: 100%;
  display: grid;
  padding: 2rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "info-top info-right" "info-left info-bottom";
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  text-align: center;
}
main .info .info-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .info .info-top p {
  color: rgba(244, 242, 237, 0.6);
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
}
main .info .info-top h5 {
  font-size: 2.25rem;
  font-family: Chillax-Light, Gilroy, Arial, Helvetica, sans-serif;
  color: #f4f2ed;
  line-height: 110%;
}
main .info .info-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .info .info-left p {
  color: rgba(244, 242, 237, 0.6);
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
}
main .info .info-left h5 {
  font-size: 2.25rem;
  font-family: Chillax-Light, Gilroy, Arial, Helvetica, sans-serif;
  color: #f4f2ed;
  line-height: 110%;
}
main .info .info-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .info .info-right p {
  color: rgba(244, 242, 237, 0.6);
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
}
main .info .info-right h5 {
  font-size: 2.25rem;
  font-family: Chillax-Light, Gilroy, Arial, Helvetica, sans-serif;
  color: #f4f2ed;
  line-height: 110%;
}
main .info .info-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .info .info-bottom p {
  color: rgba(244, 242, 237, 0.6);
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
}
main .info .info-bottom h5 {
  font-size: 2.25rem;
  font-family: Chillax-Light, Gilroy, Arial, Helvetica, sans-serif;
  color: #f4f2ed;
  line-height: 110%;
}
main .philosophy {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "philo-right" "philo-top" "philo-left" "philo-bottom";
  gap: 0.75rem;
}
main .philosophy .philo-right {
  grid-area: philo-right;
  width: 100%;
}
main .philosophy .philo-right img {
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 0.75rem;
}
main .philosophy .philo-top {
  grid-area: philo-top;
  width: 100%;
  padding: 1.75rem;
  background-color: #1e1e1e;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main .philosophy .philo-top .philo-label {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
  color: #f4f2ed;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 160%;
}
main .philosophy .philo-top .philo-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .philosophy .philo-top h1 {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #f4f2ed;
  font-family: "Chillax-Regular", "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
}
main .philosophy .philo-top .multi-column {
  -moz-column-count: 1;
       column-count: 1;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
main .philosophy .philo-top p {
  color: rgba(244, 242, 237, 0.6);
  font-size: 1rem;
  line-height: 2rem;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 160%;
}
main .philosophy .philo-left {
  grid-area: philo-left;
  width: 100%;
}
main .philosophy .philo-left img {
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 0.75rem;
}
main .philosophy .philo-bottom {
  grid-area: philo-bottom;
  width: 100%;
  padding: 1.75rem;
  background-color: #1e1e1e;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main .philosophy .philo-bottom .philo-label {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
  color: #f4f2ed;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 160%;
}
main .philosophy .philo-bottom .philo-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .philosophy .philo-bottom h1 {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #f4f2ed;
  font-family: "Chillax-Regular", "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
}
main .philosophy .philo-bottom p {
  color: rgba(244, 242, 237, 0.6);
  font-size: 1rem;
  line-height: 2rem;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 160%;
}
main .team {
  width: 100%;
}
main .team .team-intro {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .team .team-intro h2 {
  font-size: 2.25rem;
  color: #f4f2ed;
  font-family: Chillax-Light, Gilroy, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
main .team .team-intro .wrapper {
  display: none;
}
main .team .team-intro .wrapper .btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
main .team .team-intro .wrapper .btn svg {
  color: white;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  padding: 0.75rem;
}
main .team .team-intro .wrapper button {
  display: inline-block;
  background-color: transparent;
  border: none;
  align-self: flex-start;
  width: auto;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
}
main .team .cards {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "card1" "card2" "card3" "card4" "card5";
  gap: 0.75rem;
}
main .team .cards .card1 {
  aspect-ratio: 1/1;
  grid-area: card1;
  width: 100%;
  background-image: url("./assets/card1.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .team .cards .card1 .card-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
main .team .cards .card1 .card-top a {
  background-color: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  text-align: center;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .team .cards .card1 .card-top a svg {
  color: #f4f2ed;
  stroke-width: 1px;
}
main .team .cards .card1 .card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  border-radius: 0.5rem;
}
main .team .cards .card1 .card-bottom h2 {
  font-family: Chillax-Light, Gilroy, Arial, Helvetica, sans-serif;
  color: #f4f2ed;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
}
main .team .cards .card1 .card-bottom p {
  color: #f4f2ed;
  font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
}
main .team .cards .card2 {
  aspect-ratio: 1/1;
  grid-area: card2;
  width: 100%;
  background-image: url("./assets/card2.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .team .cards .card2 .card-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
main .team .cards .card2 .card-top a {
  background-color: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  text-align: center;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .team .cards .card2 .card-top a svg {
  color: #f4f2ed;
  stroke-width: 1px;
}
main .team .cards .card2 .card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  border-radius: 0.5rem;
}
main .team .cards .card2 .card-bottom h2 {
  font-family: Chillax-Light, Gilroy, Arial, Helvetica, sans-serif;
  color: #f4f2ed;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
}
main .team .cards .card2 .card-bottom p {
  color: #f4f2ed;
  font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
}
main .team .cards .card3 {
  aspect-ratio: 1/1;
  grid-area: card3;
  width: 100%;
  background-image: url("./assets/card3.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .team .cards .card3 .card-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
main .team .cards .card3 .card-top a {
  background-color: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  text-align: center;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .team .cards .card3 .card-top a svg {
  color: #f4f2ed;
  stroke-width: 1px;
}
main .team .cards .card3 .card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  border-radius: 0.5rem;
}
main .team .cards .card3 .card-bottom h2 {
  font-family: Chillax-Light, Gilroy, Arial, Helvetica, sans-serif;
  color: #f4f2ed;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
}
main .team .cards .card3 .card-bottom p {
  color: #f4f2ed;
  font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
}
main .team .cards .card4 {
  width: 100%;
  grid-area: card4;
}
main .team .cards .card4 img {
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 0.75rem;
}
main .team .cards .card5 {
  grid-area: card5;
  width: 100%;
  padding: 1.75rem;
  background-color: #1e1e1e;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main .team .cards .card5 .team-label {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
  color: rgba(244, 242, 237, 0.6);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 160%;
}
main .team .cards .card5 .team-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .team .cards .card5 h2 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #f4f2ed;
  font-family: "Chillax-Regular", "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
  line-height: 120%;
  margin-top: 1rem;
  letter-spacing: 1px;
}
main .team .cards .card5 p {
  color: rgba(244, 242, 237, 0.6);
  font-size: 1.25rem;
  line-height: 2rem;
  width: 90%;
}
main .team .cards .card5 .btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
main .team .cards .card5 .btn svg {
  color: white;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  padding: 0.75rem;
}
main .team .cards .card5 button {
  display: inline-block;
  background-color: transparent;
  border: none;
  align-self: flex-start;
  width: auto;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 900px) {
  main {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
  }
  main .hero {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "hero-top hero-bottom";
  }
  main .hero .hero-bottom {
    padding: 3rem;
    justify-content: space-between;
  }
  main .hero .hero-bottom .hero-text {
    gap: 2rem;
  }
  main .hero .hero-bottom .hero-text h1 {
    font-size: 3.5rem;
    line-height: 120%;
  }
  main .hero .hero-bottom .hero-text p {
    width: 100%;
  }
  main .info {
    width: 100%;
    padding: 3rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "info-top info-left info-right info-bottom";
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }
  main .info .info-top h5 {
    font-size: 4rem;
    margin-top: 0.5rem;
  }
  main .info .info-left h5 {
    font-size: 4rem;
    margin-top: 0.5rem;
  }
  main .info .info-right h5 {
    font-size: 4rem;
    margin-top: 0.5rem;
  }
  main .info .info-bottom h5 {
    font-size: 4rem;
    margin-top: 0.5rem;
  }
  main .philosophy {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "philo-top philo-right" "philo-left philo-bottom";
  }
  main .philosophy .philo-top {
    padding: 3rem;
    justify-content: space-between;
  }
  main .philosophy .philo-top .multi-column {
    -moz-column-count: 2;
         column-count: 2;
  }
  main .philosophy .philo-top .philo-text {
    gap: 1.5rem;
  }
  main .philosophy .philo-top .philo-text h1 {
    font-size: 3rem;
    line-height: 120%;
  }
  main .philosophy .philo-top .philo-text p {
    width: 100%;
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 160%;
  }
  main .philosophy .philo-bottom {
    padding: 3rem;
    justify-content: space-between;
  }
  main .philosophy .philo-bottom .multi-column {
    -moz-column-count: 2;
         column-count: 2;
  }
  main .philosophy .philo-bottom .philo-text {
    gap: 1.5rem;
  }
  main .philosophy .philo-bottom .philo-text h1 {
    font-size: 3rem;
    line-height: 120%;
  }
  main .philosophy .philo-bottom .philo-text p {
    width: 100%;
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 160%;
  }
  main .team {
    width: 100%;
  }
  main .team .team-intro h1 {
    font-size: 3rem;
  }
  main .team .team-intro .wrapper {
    display: block;
  }
  main .team .cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "card1 card2 card2 card3" "card4 card4 card5 card5";
  }
  main .team .cards .card1 {
    aspect-ratio: auto;
    min-height: 400px;
  }
  main .team .cards .card2 {
    aspect-ratio: auto;
    min-height: 400px;
  }
  main .team .cards .card3 {
    aspect-ratio: auto;
    min-height: 400px;
  }
  main .team .cards .card5 {
    padding: 3rem;
    justify-content: space-between;
  }
  main .team .cards .card5 h2 {
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 120%;
  }
}/*# sourceMappingURL=style.css.map */